{% extends "base.html" %}
  
{% block title %}<title>Change password</title>{% endblock %}

	{% block grumblbox %} {% endblock grumblbox %}
	{% block postbox %} {% endblock postbox %}

      {% block otherbox %}
      <div class="editbox">
        <form class="form-change-password" role="form" action="{% url 'password_change' %}" method="post">

          <div class="edit-title">
          <h3>Change password</h3>
          </div>

          <hr class="profile-hr">
            {% for error in form.non_field_errors %}
            <p style="color: #ff6666">{{ error }}</p>
            {% endfor %}
            {% for field in form.visible_fields %}
            <p style="color: #ff6666">
            {{field.errors}}
            </p>
            {% endfor %}
          <div class="edit-list">
            <div class="edit-item-name">
              <h4>Current password</h4>
            </div>
            <div class="edit-input">
            {{form.old_password}}
            </div>
            <br>
            <div class="edit-item-name">
              <h4>New password</h4>
            </div>
            <div class="edit-input">
            {{form.new_password1}}
            </div>
            <br>
            <div class="edit-item-name">
              <h4>Verify password</h4>
            </div>
            <div class="edit-input">
            {{form.new_password2}}
            </div>
          </div>

          <div class="edit-save">
            <div class="edit-btn">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Save changes</button>
            </div>
          </div>
          {% csrf_token %}
        </form><!-- form -->
      </div><!-- /.box -->

      {% endblock otherbox %}


  




