{% extends "base.html" %}
  
{% block title %}<title>grumblr. -- Confirmation needed</title>{% endblock %}

	{% block navbar %}
	<!-- Static navbar -->
	<div class="navbar navbar-default navbar-static-top" role="navigation">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	        <a class="navbar-brand nav-grumblr " href="{% url 'grumblr.views.homepage' %}">grumblr.</a>
	    </div>
	    <div class="navbar-collapse collapse">

	    </div><!--/.nav-collapse -->
	  </div>
	</div><!-- Static navbar -->
	{% endblock navbar %}

	{% block grumblbox %} {% endblock grumblbox %}
	{% block postbox %} {% endblock postbox %}

	{% block otherbox %}
	<div class="searchbox">           
	  <p>A confirmation email has been sent to {{email}}.</p> 
        <p>Please click the link in that email to confirm your email address and complete your registation for your grumblr.</p> 
	</div>

	{% endblock otherbox %}

	{% block sidebar %}
	{% endblock sidebar %}

