{% extends "base.html" %}

{% block title %}<title>grumblr. -- Reset password complete</title>{% endblock %}

	{% block navbar %}
	<!-- Static navbar -->
	<div class="navbar navbar-default navbar-static-top" role="navigation">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	        <a class="navbar-brand nav-grumblr " href="{% url 'grumblr.views.homepage' %}">grumblr.</a>
	    </div>
	    <div class="navbar-collapse collapse">

	    </div><!--/.nav-collapse -->
	  </div>
	</div><!-- Static navbar -->
	{% endblock navbar %}

	{% block maincol %}
	<div class="col-sm-12 post-main">
	{% endblock maincol %}

	{% block grumblbox %} {% endblock grumblbox %}
	{% block postbox %} {% endblock postbox %}

	{% block otherbox %}
	<div class="messagebox">           
		<p>Your password has been set.  You may go ahead and <a href="{% url 'login' %}">log in</a> now.</p>
	</div>

	{% endblock otherbox %}

	{% block sidebar %}
	{% endblock sidebar %}

