{% extends "base.html" %}

{% block title %}<title>grumblr. -- Forgot password</title>{% endblock %}

	{% block navbar %}
	<!-- Static navbar -->
	<div class="navbar navbar-default navbar-static-top" role="navigation">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	        <a class="navbar-brand nav-grumblr " href="{% url 'grumblr.views.homepage' %}">grumblr.</a>
	    </div>
	    <div class="navbar-collapse collapse">

	    </div><!--/.nav-collapse -->
	  </div>
	</div><!-- Static navbar -->
	{% endblock navbar %}

	{% block grumblbox %} {% endblock grumblbox %}
	{% block postbox %} {% endblock postbox %}

	{% block otherbox %}

	{% if validlink %}
	<div class="editbox">
        <form class="form-change-password" role="form" action="" method="post">

          <div class="edit-title">
          <h3>Set password</h3>
          <p>Please enter your new password twice. So we can verify you typed it in correctly.</p>
          </div>

          <hr class="profile-hr">
          {% for error in form.non_field_errors %}
          <p style="color: #ff6666">{{ error }}</p>
          {% endfor %}
          {% for field in form.visible_fields %}
          <p style="color: #ff6666">
          {{field.errors}}
          </p>
          {% endfor %}

          <div class="edit-list">
            <div class="edit-item-name">
              <h4>New password</h4>
            </div>
            <div class="edit-input">
            {{form.new_password1}}
            </div>
            <br>
            <div class="edit-item-name">
              <h4>Verify password</h4>
            </div>
            <div class="edit-input">
            {{form.new_password2}}
            </div>
          </div>

          <div class="edit-save">
            <div class="edit-btn">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Save changes</button>
            </div>
          </div>
          {% csrf_token %}
        </form><!-- form -->
      </div><!-- /.box -->

      {% else %}

      <div class="searchbox">           
    		<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
	</div>

	{% endif %}

	{% endblock otherbox %}

	{% block sidebar %}
	{% endblock sidebar %}


