{% extends "base.html" %}
  
{% block title %}<title>Password changed</title>{% endblock %}

      {% block maincol %}
      <div class="col-sm-12 post-main">
      {% endblock maincol %}

	{% block grumblbox %} {% endblock grumblbox %}
	{% block postbox %} {% endblock postbox %}

	{% block otherbox %}
	<div class="searchbox">           
        <p>Your password has been successfully changed.</p>
        <p><a href="{% url 'homepage' %}">Back to homepage</a></p>
	</div>
	{% endblock otherbox %}

	{% block sidebar %}
	{% endblock sidebar %}
  




