body.loginreg {
	background: #1c4c7a;
}
body.homepage {
	background: #eee;
}
body.profile {
	background: #fff;
}
.heading-grumblr {
	color: white;
	font: bold 4em Georgia, serif;
}
.subheading-grumblr {
	color: white;
	font: 1.25em Georgia, serif;
}
.nav-grumblr {
	color: white;
	font: bold 1.25em Georgia, serif;
}
div.loginregbox {

	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	text-align: center;
}

div.tranbtn {
	/*text-align: right;*/
}
.trans-move {
	border-style: none;
	outline: none;
	background: transparent;

	position: relative;
	width: 100px;
	left: -5px;
	transition: left 0.5s;
}
.trans-move:hover {
	left: 0px;
}

.fgt-pwd {
	margin-left: -50px;
}
.fgt-pwd:hover {
	/*color: #e9f2fa;*/
	color: #d9e8f6;
	text-decoration: underline;
}

a.white-text{
	color: white; 
	text-decoration:none;
} 

/* Comes from http://getbootstrap.com/examples/signin/signin.css */

.form-loginreg {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-loginreg .form-loginreg-heading,
.form-loginreg .checkbox {
	margin-bottom: 10px;
}
.form-loginreg .checkbox {
	font-weight: normal;
}
.form-loginreg .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-loginreg .form-control:focus {
	z-index: 2;
}
/* Little modification*/
.input-top {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.input-middle {
	margin-bottom: -1px;
	border-radius: 0;
}
.input-bottom {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
/* Comes from http://getbootstrap.com/examples/signin/signin.css */

/* homepage */

/*.navbar-default {
	background-color: #5d9ab1;
	border-color: #669999;
}*/
/*input.form-control {
	width: 600px;
}*/

/*.navbar {

}*/

/* width of page*/
@media (min-width: 1200px) {
  .container {
    width: 900px;
  }/* width of page*/
}
/* padding of jumbotron*/
@media screen and (min-width: 768px) {
   .container .jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
  }
}/* padding of jumbotron*/

@media (min-width: 768px) {
  .navbar-form .input-group > .form-control {
    width: 319px;
  }
  .col-sm-8 {
    width: 500px;
  }
}
@media (min-width: 992px) {
  .navbar-form .input-group > .form-control {
    width: 419px;
  }
  .col-sm-8 {
    width: 600px;
  }
}

/* color of navbar*/
.navbar-default {
background-color:  #1c4c7a;
border-color: #325d87;
}/* color of navbar*/

/* Text color of nav-brand*/
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e8edf1;
}/* Text color of nav-brand*/

/* Text color of dropdown toggle*/
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e8edf1;
}/* Text color of dropdown toggle*/

/* bg color of dropdown menu*/
.dropdown-menu {
  background-color: #19446d;
  min-width: 100px;
}
.dropdown-menu > li > a {
  color: #fff;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #e8edf1;
  background-color: #325d87;
}/* bg color of dropdown menu*/

/* color of dropdown toggle when open*/
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #e8edf1;
  background-color: #19446d;
}/* color of dropdown toggle when open*/

/* left margin of side bar*/
/*@media (min-width: 768px) {
  .col-sm-offset-1 {
    margin-left: 3%;
  }*/
}/* left margin of side bar*/

/* font size in jumbotron*/
.jumbotron p {
  margin-bottom: 0px;
  font-size: 8px;

} /* font size in jumbotron*/


/* blog.css*/

/*
 * Main column and sidebar layout
 */

.post-main {
	font-size: 18px;
	line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
	padding: 15px;
	margin: 0 -15px 15px;
}
.sidebar-module-inset {
	padding: 15px;
	background-color: #f5f5f5;
	border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
	margin-bottom: 0;
}


/* Pagination */
.pager {
	margin-bottom: 60px;
	text-align: left;
}
.pager > li > a {
	width: 140px;
	padding: 10px 20px;
	text-align: center;
	border-radius: 30px;
}

/*
 * search pages
 */
.searchbox {
	overflow:hidden; 
	margin-bottom: 60px;
	background-color: #fff;
	padding: 15px 15px 15px 15px;
	margin: 20px 0px;
	border-radius: 4px;
	border: 2px solid #496f94;
	text-align: center;
	font-size: 25px;
}

/*
 * grumble posts
 */
.grumblebox {
	overflow:hidden; 
	margin-bottom: 60px;
	background-color: #fff;
	padding: 15px 15px 15px 15px;
	margin: 20px 0px;
	border-radius: 4px;
	border: 2px solid #496f94;
}
.grumblecontent-div {

}
.grumblebtns-div {
	text-align: right;
}
.grumbl-text {
	height: 38px;
	width: 100%;
	font-size: 16px;
	border-radius: 4px;
	border: 1px solid grey;
	padding: 5px 5px;
}
.grumbl-btn {
	height: 36px;
	width: 98px;
	margin-top: 5px;
	padding: 0px 0px 3px 1px;
	background-color: #1c4c7a;
	font: bold 17px Georgia, serif;
}

.postbox {
	margin-bottom: 60px;
	background-color: #fff;
	padding: 6px 15px 6px 15px;
	margin: 20px 0px;
	border-radius: 4px;
	border: 2px solid #496f94;
}
.search-profile-box {
	height: 100px;
}
.post-title {
	margin-bottom: 10px;
	font-size: 16px;
}
.post-meta {
	margin-bottom: 20px;
	color: #999;
}

/*
 * Footer
 */

.post-footer {
	padding: 40px 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: 1px solid #e5e5e5;
}
.post-footer p:last-child {
	margin-bottom: 0;
}

.post-write-comment {
	margin: 5px 0px;
}

/*.post-comments {
	padding-left: 30px;
}*/
hr.comment-hr {
	border-top: 1px solid #a4b7c9;
	width: 100%;
	margin: 8px 0px;
}

/*image sprite*/
img.avatar1 {
	width: 64px;
	height: 64px;
	background: url(../img/icon.jpg) -8px -73px;
	background-size: 417.06667px 338.93333px; /*1564*64/240=417.06667*/
}

img.avatar2 {
	width: 64px;
	height: 64px;
	background: url(../img/icon.jpg) -8px -8px;
	background-size: 417.06667px 338.93333px;
}

img.avatar3 {
	width: 64px;
	height: 64px;
	background: url(../img/icon.jpg) -74px -74px;
	background-size: 417.06667px 338.93333px;
}

img.avatar4 {
	width: 64px;
	height: 64px;
	background: url(../img/icon.jpg) -143px -139px;
	background-size: 417.06667px 338.93333px;
}

img.avatar5 {
	width: 64px;
	height: 64px;
	background: url(../img/icon.jpg) -277px -268px;
	background-size: 417.06667px 338.93333px;
}



.post-avatar {
	float: left;
	margin-right: 10px;
}

p {
	margin: 0px;
	word-wrap: break-word;
}

p.subheading-grumblr {
	margin-bottom: 10px;
}
p.search-radio-btns {
	font-size: 16px;
}
tab {
	padding-left: 2em; 
}

.grumblr-name {
	margin-top: 10px;
	color: #1c4c7a;
	font-weight: bold;
}

.post-user {
	font-size: 16px;
  	line-height: 2;
}
.post-content {
	font-size: 18px;
  	line-height: 1.5;
  	padding-left: 5px;
  	padding-right: 5px;
}


/* profile.html*/

/*img.avatar5 {
	width: 240px;
	height: 240px;
	background: url(../img/icon.jpg) -1036px -1004px;
}*/

.profilebox {
  margin-bottom: 60px;
  padding: 5px 15px;
  margin: 20px 0px;
  width: auto;
  height: auto;
  vertical-align: middle;
  /*border: 1px solid #1c4c7a;*/
}

.profile-title, .profile-detail{
  margin-bottom: 6px;
  padding: 5px 15px;
  font-size: 16px;
  border: none;
  width: auto;
  overflow:hidden; 
  margin-left: 15px 0px;
}

.profile-avatar {
	vertical-align:top;
	display: inline-block;
/*	float: left;*/
	margin-right: 30px;
	margin-top: 25px;
	margin-left: 10px;
}

.edit-profile-avatar {
/*	vertical-align:top;*/
	display: inline-block;
/*	float: left;*/
	margin-right: 30px;
/*	margin-top: 25px;*/
}

.profile-user {
	display: inline-block;
	height: 150px;
	margin-top: 30px;
	font-size: 24px;
  	line-height: 1.5;
}
.profile-name {
	margin-top: 10px;
	color: #1c4c7a;
	font-weight: bold;
}
.grumblr-intro {
	font-size: 18px;
}
.grumblr-location {
	font-size: 16px;
}

div.editbtn {
	text-align: right;
}

a.blue-text {
	color: #1c4c7a; 
	text-decoration:none;
} 
hr.profile-hr {
	border-top: 1px solid #a4b7c9;
	width: 100%;
}

table{
	display:table;
	width:100%;
	table-layout:fixed;
}
td, th{
	text-align: center;
	display:table-cell;
	padding: 6px 0px;
/*	border: 1px solid black;*/
}
.first-col-narrow {
	width: 25%;
}

.profilebox {
  margin-bottom: 60px;
  background-color: #fff;
  padding: 0px 0px 0px 0px;
  margin: 20px 0px;
  border-radius: 4px;
  border: 1px solid #7693af;
}

img.avatar6 {
	width: 120px;
	height: 120px;
	background: url(../img/icon.jpg) -518px -502px;
	background-size: 782px 635.5px;
}

.edit-title {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 20px;
}
.edit-list {
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 45px;
}
.edit-item-name {
	text-align: right;
	display: inline-block;
	width: 150px;
	margin-right: 10px;
}
.edit-btn {
	display: inline-block;
	right: 0px;
}
.edit-input {
	display: inline-block;
}
.edit-save {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
  	background-color: #e8edf1;
  	border-top: 1px solid #a4b7c9;
}

.editbox {
	margin-bottom: 60px;
	background-color: #fff;
	padding: 0px;
	margin: 20px 0px;
	border-radius: 4px;
	border: 1px solid #7693af;
}

h3,
.h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}



/* post grumbl form */

.form-grumble {
/*	max-width: 330px;*/
	/*padding: 15px;*/
	/*margin: 0 auto;*/
}
.form-grumble .form-grumble-heading,
.form-grumble {
	/*margin-bottom: 10px;*/
}
.form-grumble {
	/*font-weight: normal;*/
}
.form-grumble {
	/*position: relative;*/
	/*height: auto;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	/*font-size: 16px;*/
}
.form-grumble {
	/*z-index: 2;*/
}

/* Post-footer */
.post-footer {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 12px;
	border-style: none;
	background-color: #fff;
	overflow: hidden;
}
.post-footer>ul>li>a {
	padding: 5px 8px;
	/*color: #496f94;*/
	/*color: #6081a1;*/
	color: #6f8daa;
}
.post-footer>ul>li>a:hover,
.post-footer>ul>li>a:focus {
/*	padding: 5px 5px;*/
	color: #496f94;
	/*color: #6081a1;*/
}

.post-footer>ul {
	padding-top: 5px;
}

/* Dropdown list padding modified */
.dropdown-menu>li>a {
	padding: 10px 15px;
}
.dropdown-menu {
	padding: 0px;
}

div.hidden {
    visibility: hidden;
}

div.follow {
	float: right;
	margin-top: 10px;
}

.btn-primary {
	color: #fff;
	background-color: #325d87;
	border-color: #1c4c7a;
}

.messagebox {
	overflow:hidden; 
	margin-bottom: 60px;
	background-color: #fff;
	padding: 15px 15px 15px 15px;
	margin: 20px 0px;
	border-radius: 4px;
	border: 2px solid #496f94;
	text-align: left;
	font-size: 25px;
}

.post-picture {
	width: 100%;
	padding: 10px 5px;
}