<!DOCTYPE html>
<html>
<head>
    <title>Student Information Webapp</title>
    <meta charset="utf-8">
</head>

<body>
{% if messages %}
  {% for m in messages %}
  <p style="color:red;">{{m}}</p>
  {% endfor %}
  <hr>
{% endif %}
<p>Create a student:</p>

{% for error in form_student.non_field_errors %}
<p style="color: red">
{{ error }}
</p>
{% endfor %}

<form action="/sio/create-student" method="post">
    <table>
    {% for field in form_student.visible_fields %}
    <tr>
      <td>{{field.label_tag}}</td>
      <td>{{field}}</td>
      <td style="color: red">{{field.errors}}</td>
    </tr>
    {% endfor %}
    </table>
    {% for field in form_student.hidden_fields %}
    {{field}}
    {% endfor %}

    {% csrf_token %}
    <input type="submit" value="Submit">
</form>

<hr>
<p>Create a course:</p>

{% for error in form_course.non_field_errors %}
<p style="color: red">
{{ error }}
</p>
{% endfor %}

<form action="/sio/create-course" method="post">
    <table>
    {% for field in form_course.visible_fields %}
    <tr>
      <td>{{field.label_tag}}</td>
      <td>{{field}}</td>
      <td style="color: red">{{field.errors}}</td>
    </tr>
    {% endfor %}
    </table>
    {% for field in form_course.hidden_fields %}
    {{field}}
    {% endfor %}

    {% csrf_token %}
    <input type="submit" value="Submit">
</form>

<hr>
<p>Register a student for a course:</p>

{% for error in form_register.non_field_errors %}
<p style="color: red">
{{ error }}
</p>
{% endfor %}

<form action="/sio/register-student" method="post">
    <table>
    {% for field in form_register.visible_fields %}
    <tr>
      <td>{{field.label_tag}}</td>
      <td>{{field}}</td>
      <td style="color: red">{{field.errors}}</td>
    </tr>
    {% endfor %}
    </table>
    {% for field in form_register.hidden_fields %}
    {{field}}
    {% endfor %}
    
    {% csrf_token %}
    <input type="submit" value="Submit">
</form>

<hr>
<p>Current course rosters:
<ul>
{% for course in courses %}
  <li>{{course}}<ul>
  {% for student in course.students.all %}
    <li>{{student}}</li>
  {% endfor %}
  </ul></li>
{% endfor %}
</ul>
</p>

</body>
